<mat-card *ngFor="let zone of zones">
  <mat-card-header>
    <mat-card-title>{{zone.name}}</mat-card-title>
    <mat-card-subtitle>Available</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>GPIO pin:</b> {{zone.pin}}</p>
    <p><b>Start time:</b> {{zone.startTime}}</p>
    <p><b>End time:</b> {{zone.endTime}}</p>
    <p><b>Duration:</b> {{zone.duration | number:'.1-2'}} min(s)</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-slide-toggle (change)="switchZone($event, zone)" [checked]="zone.status"></mat-slide-toggle>
  </mat-card-actions>
</mat-card>