<mat-card *ngFor="let zone of zones">
  <mat-card-header>
    <mat-card-title>{{zone.name}}</mat-card-title>
    <mat-card-subtitle>Available</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>Last start time:</b> {{zone.relay.lastStartOnUTC}}</p>
    <p><b>Last end time:</b> {{zone.relay.lastEndOnUTC}}</p>
    <p><b>Duration:</b> {{zone.relay.duration | number: '.0-2'}} minutes</p>
    <p><b>Sensor values:</b></p>
    <mat-list dense >
      <mat-list-item *ngFor="let sensor of zone.sensors">
        {{sensor.value}} on {{sensor.updatedOnUTC}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <mat-slide-toggle (change)="switchZone($event, zone)" [checked]="zone.relay.status"></mat-slide-toggle>
  </mat-card-actions>
</mat-card>