<mat-card *ngFor="let zone of zones">
  <mat-card-header>
    <mat-card-title>{{zone.name}}</mat-card-title>
    <mat-card-subtitle>{{zone.enabled ? "Active" : "Disabled"}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Last run
          </mat-panel-title>
          <mat-panel-description>
            {{zone.relay.durationInfo}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Started on {{zone.relay.lastStartOnUTC | date:'yyyy-MM-dd HH:mm'}}</p>
        <p>Finished on {{zone.relay.lastEndOnUTC | date:'yyyy-MM-dd HH:mm'}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Forecast
          </mat-panel-title>
          <mat-panel-description>
            {{zone.forecast ? "Specified" : "Not specified"}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="zone.forecast">
          <p>{{zone.forecast.enabled ? "Active" : "Deactivated"}}</p>
          <p>Hours: {{zone.forecast ? zone.forecast.hours : "Not specified"}}</p>
          <p>Millimeter: {{zone.forecast ? zone.forecast.mm : "Not specified"}}</p>
          <p>Calculation: {{zone.forecast ? zone.forecast.calculation : "Not specified"}}</p>
          <button mat-stroked-button (click)="addForecast(zone)">Edit forecast</button>
          <button mat-stroked-button (click)="toogleForecast(zone)">{{zone.forecast.enabled ? "Deactivate" : "Activate"}}</button>
        </div>
        <div *ngIf="!zone.forecast">
          <button mat-stroked-button (click)="addForecast(zone)">Add forecast</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scheduling
          </mat-panel-title>
          <mat-panel-description>
            {{zone.schedules ? zone.schedules.length +" schedule(s) available" : "No schedules"}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let schedule of zone.schedules">
                <ul>
                  <li>{{schedule.enabled ? "Active" : "Disabled"}}</li>
                  <li>Cron expression: {{schedule.cronExpression}}</li>
                  <li>Duration (mins): {{schedule.durationInMinutes}}</li>
                </ul>
                <button mat-stroked-button (click)="toogleSchedule(zone, schedule)">{{schedule.enabled ? "Deactivate": "Activate"}}</button>
                <button mat-stroked-button (click)="deleteSchedule(zone, schedule)">Delete</button>
            </mat-list-item>
            <button mat-stroked-button (click)="addSchedule(zone)">Add schedule</button>
          </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
          <mat-panel-description>
            Location, plant, soil, water usages
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Plant: {{zone.plant ? zone.plant.name : "Not specified"}}</p>
        <p>Soil: {{zone.soil ? zone.soil.name : "Not specified"}}</p>
        <p>Location: {{zone.location ? zone.location.longitude + " " + zone.location.latitude : "Not provided"}}</p>
        <p>Water usage: {{zone.waterUsages ? "Click for details" : "No data available"}}</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sensor values
          </mat-panel-title>
          <mat-panel-description>
            {{zone.sensors ? zone.sensors.length +" sensor(s) available" : "No sensors attached" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let sensor of zone.sensors">
            {{sensor.value}} on {{sensor.updatedOnUTC | date:'yyyy-MM-dd HH:mm'}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [color]="zone.relay.status ? 'warn': 'primary'" (click)="switch(zone)">{{zone.relay.status ? "Turn OFF" : "Turn ON"}}</button>
  </mat-card-actions>
</mat-card>